@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  height: 100%;
}

@view-transition {
  navigation: auto;
}

.box {
  view-transition-name: box;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

@keyframes grow-x {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(.5) rotate(45deg);
  }
}
@keyframes shrink-x {
  from {
    transform: scale(.5) rotate(45deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

::view-transition-old(box) {
  animation: 0.25s linear both shrink-x;
}
::view-transition-new(box) {
  animation: 0.25s linear both grow-x;
}



